/* Typsnitt */

@font-face {
    font-family: Barlow Condensed;
    src: url(fonts/BarlowCondensed-Regular.ttf);
}

@font-face {
    font-family: Barlow Semi Condensed;
    src: url(fonts/BarlowSemiCondensed-Regular.ttf)
}

@font-face {
    font-family: Bungee Outline;
    src: url(fonts/BungeeOutline-Regular.ttf);
}

@font-face {
    font-family: Bungee Shade;
    src: url(fonts/BungeeShade-Regular.ttf);
}

/* Allt */
* {
    margin: 0;
    box-sizing: border-box;
}

/* Bakgrundsbild och Variabler */
body {
    margin: 0;
    background-image: url(images/pitbullbackground.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;

    display: grid;
    justify-content: center;
    align-items: center;

    --marginh: 5px 0;
    --marginw: 0 2px;
}
 
.background {
    height: auto;
    width: 80vw;
    background-color: rgba(0, 0, 0, 0.26);
    border-radius: 20px;

    margin: 80px 0;
}

.background footer h3 {
    color: white;
    font-size: 1vw;
    font-family: Barlow Semi Condensed;
    font-weight: lighter;
    margin: 30px 0 10px 30px;
}

header h1 {
    font-size: 6.5vw;
    font-family: Bungee Shade;
    margin: 0 0 0 20px;
    color: white;
}

/* Navigation */
nav {
    display: flex;
    gap: 5px;

    padding: 15px;

}

nav > div {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 20px;
    width: 30vw;
    background-color: rgba(255, 255, 255, 0.411);
    border-radius: 5px;
    font-size: 2vw;
    font-family: Barlow Semi Condensed;
}

nav > div:nth-child(2) {
    border: solid 1px white;
    font-weight: bold;
    box-shadow: 0 0 6px 0 #fff5f5;
}

nav > div:not(:nth-child(2)):hover {
    background-color: rgba(0, 0, 0, 0.213);
    color: white;
}

/* Första och Andra Rutorna */
#firstbox, #secondbox {
 background-color: rgba(0, 0, 0, 0.446);
 height: auto;

 margin: 70px 20px 0 20px;
 padding: 15px;

 border: solid white 1px;
 border-radius: 20px;

 display: grid;
 grid-template-columns: 3fr 2fr;
 grid-template-rows: repeat(8, 1fr);
}

#firstbox > h1, #secondbox > h1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;

    font-size: 3.2vw;
    font-family: Bungee Outline;
    
    color: white;
}

#firstbox > h2, #secondbox > h2 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;

    margin: 50px 0 0 0;
    font-size: 2.5vw;
    font-family: Barlow Condensed;
    font-weight: bold;
    
    color: white;
}

#firstbox > h3, #secondbox > h3 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    margin: 35px 0 0 0;

    font-size: 1.3vw;
    font-family: Barlow Semi Condensed;
    font-weight: lighter;
    
    color: white;
}

#firstbox > ul, #secondbox > ul {
    grid-column: 1 / 2;
    grid-row: 2 / 3;

    padding-left: 30px;
    margin: 50px 0 0 0;
    list-style-type: none;
    font-size: 1.3vw;
    font-family: Barlow Semi Condensed;
    font-weight: lighter;
    
    color: white;
}

#firstbox > p, #secondbox > p {
    grid-column: 1 / 2;
    grid-row: 4 / 5;

    font-size: 1.3vw;
    font-family: Barlow Semi Condensed;
    font-weight: lighter;
    
    color: white;
}

/*Första Bottom Grid*/
.bottom1 {
    grid-column: 1 / 3;
    grid-row: 7 / 9;

    display: grid;
    grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
    grid-template-rows: auto;
    margin: var(--marginh);
}

.bottom1 > p:nth-child(1) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;

    background-color: whitesmoke;

    font-family: Barlow Condensed;
    font-size: 1.3vw;
    padding: 0 10px;

    border-radius: 30px 0px 30px 30px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom1 > p:nth-child(2) {
    grid-column: 3 / 4;
    grid-row: 1 / 2;

    background-color: whitesmoke;

    font-family: Barlow Condensed;
    font-size: 1.3vw;
    padding: 0 10px;
    margin: var(--marginw);

    border-radius: 30px 30px 30px 0px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom1 > p:nth-child(4) {
    grid-column: 5 / 6;
    grid-row: 1 / 2;

    background-color: whitesmoke;

    font-family: Barlow Condensed;
    font-size: 1.3vw;

    padding: 0 10px;
    margin: var(--marginw);

    border-radius: 30px 30px 0px 30px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom1 > h3 {
    grid-column: 4 / 5;
    grid-row: 1 / 2;


    display: flex;
    align-items: end;

    background-image: url(images/djbuddha-producer.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    font-family: Barlow Semi Condensed;
    font-size: 1.3vw;
    font-weight: lighter;
    color: white;
    padding: 5px;
    margin: var(--marginw);

    border-radius: 0px 30px 30px 30px;
}

/* Andra Bottom Grid */
.bottom2 {
    grid-column: 1 / 3;
    grid-row: 7 / 9;

    display: grid;
    grid-template-columns: 2fr 1fr 2fr 1fr;
   }


.bottom2 > p:nth-child(1) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;

    background-color: whitesmoke;

    padding: 0 10px;
    font-size: 1.3vw;
    margin: var(--marginw);
    border-radius: 30px 30px 30px 0px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom2 > p:nth-child(2) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;

    background-color: whitesmoke;

    padding: 0 10px;
    font-size: 1.3vw;
    margin: var(--marginw);
    border-radius: 0px 30px 30px 30px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom2 > h3 {
    grid-column: 3 / 4;
    grid-row: 1 / 2;


    display: flex;
    align-items: end;

    background-image: url(images/pitbull-globalwarming-concert.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    font-family: Barlow Semi Condensed;
    font-size: 1.3vw;
    font-weight: lighter;
    color: white;
    padding: 5px;
    margin: var(--marginw);

    border-radius: 0px 30px 30px 30px;
}

.bottom2 > p:nth-child(4) {
    grid-column: 4 / 5;
    grid-row: 1 / 2;

    background-color: whitesmoke;

    padding: 0 10px;
    font-size: 1.3vw;
    margin: var(--marginw);
    border-radius: 30px 30px 0px 30px;

    display: flex;
    justify-content: center;
    align-items: center;
}

/*Första och Andra Side Grid */
.side1, .side2 {
    grid-column: 2 / 3;
    grid-row: 1 / 7;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3fr 1fr;
    margin: var(--marginh);
}

.side1 > img:first-of-type, .side2 > img:first-of-type {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    z-index: 2;
    transition: opacity 1s;
    width: 100%;
    border-radius: 30px 30px 0 0;

    object-fit: cover;
    
}

.side1 > img:first-of-type:hover, .side2 > img:first-of-type:hover {
    opacity: 0;
}

.side1 > img:nth-child(2), .side2 > img:nth-child(2) {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    z-index: 1;
    width: 100%;
    border-radius: 30px 30px 0 0;

    object-fit: cover;
    
}

.side1 > div:nth-child(3), .side2 > div:nth-child(3) {
    grid-column: 1 / 2;
    grid-row: 2 / 3;

    background-color: rgb(43, 43, 233);
    border-radius: 0px 0px 0px 30px;
    padding: 8px;
    margin-right: 5px;
    font-size: 1.3vw;
}

.side1 > div:nth-child(4), .side2 > div:nth-child(4) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;

    background-color: rgb(43, 43, 233);
    border-radius: 0px 0px 30px 0px;
    padding: 8px;
    margin-left: 5px;
    font-size: 1.3vw;
}

.side2 > div:nth-child(3) {
    background-color: rgb(233, 113, 43);
}

.side2 > div:nth-child(4) {
    background-color: rgb(233, 113, 43);
}

.side1 > div > h3, .side2 > div > h3 {
    font-family: Barlow Condensed;
    margin: 0 0 0 10px;
}

.side1 > div > ol, .side2 > div > ol {
    font-family: Barlow Semi Condensed;
    padding-left: 20px;
}

@media (min-width: 800px) and (max-width: 900px) {
    header h1 {
        font-size: 60px;
    }

    nav > div {
        font-size: 18px;
    }

    #firstbox > h1, #secondbox > h1  {
        font-size: 30px;
    }

    #firstbox > h2, #secondbox > h2 {
        font-size: 24px;
    }

    #firstbox > h3, #secondbox > h3 {
        font-size: 12px;
    }

    #firstbox ul, #secondbox ul {
        font-size: 12px;
    }

    #firstbox p, #secondbox p {
        font-size: 12px;
    }

    .bottom1 div, .bottom2 div {
        font-size: 10px;
    }

    .bottom1 h3, .bottom2 h3 {
        font-size: 12px;
    }

    .side1 h3, .side2 h3 {
        font-size: 15px;
    }

    .side1 ol, .side2 ol {
        font-size: 12px;
    }

    footer h3 {
        font-size: 14px;
    }
}

@media (min-width: 1200px) {
    body > * {
      max-width: 1200px;
    }

    header h1 {
        font-size: 60px;
    }

    nav > div {
        font-size: 18px;
    }

    #firstbox > h1, #secondbox > h1  {
        font-size: 45px;
    }

    #firstbox > h2, #secondbox > h2 {
        font-size: 35px;
    }

    #firstbox > h3, #secondbox > h3 {
        font-size: 15px;
    }

    #firstbox ul, #secondbox ul {
        font-size: 15px;
    }

    #firstbox p, #secondbox p {
        font-size: 15px;
    }

    .bottom1 div, .bottom2 div {
        font-size: 15px;
    }

    .bottom1 h3, .bottom2 h3 {
        font-size: 15px;
    }

    .side1 h3, .side2 h3 {
        font-size: 18px;
    }

    .side1 ol, .side2 ol {
        font-size: 15px;
    }

    footer > h3 {
        font-size: 15px;
    }
}

@media (min-width: 390px) and (max-width: 500px) {
    .background {
        margin: 0;
        width: 100vw;
        border-radius: 0;
    }
    
    header h1 {
        font-size: 40px;
        text-align: center;
    }
    
    nav, nav div {
        padding: 10px;
        font-size: 15px;
    }

    #firstbox, #secondbox {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(11, 1fr);
    }

    #firstbox > h1, #secondbox > h1  {
        grid-row: 7 / 8;
        grid-column: 2 / 3;
        font-size: 25px;
    }

    #firstbox > h2, #secondbox > h2 {
        grid-row: 7 / 8;
        grid-column: 2 / 3;
        font-size: 15px;
        margin-top: 40px;
    }

    #firstbox > h3, #secondbox > h3 {
        grid-row: 8 / 9;
        grid-column: 2 / 3;
        font-size: 12px;
    }

    #firstbox ul, #secondbox ul {
        grid-row: 8 / 9;
        grid-column: 2 / 3;
        font-size: 12px;
    }

    #firstbox > p, #secondbox > p {
        grid-row: 9 / 10;
        grid-column: 2 / 3;
        font-size: 15px;
    }

    .bottom1 {
        grid-row: 10 / 12;
        
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .bottom1 > p:nth-child(1) {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        font-size: 10px;

    }

    .bottom1 > p:nth-child(2) {
        grid-column: 2 / 4;
        grid-row: 1 / 2;
        font-size: 10px;
    }
    
    .bottom1 > h3 {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        font-size: 10px;
    }

    .bottom1 > p:nth-child(4) {
        grid-column: 3 / 4;
        grid-row: 2 / 3;
        font-size: 10px;
    }
    
    .bottom2 {
        grid-row: 10 / 12;
        
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .bottom2 > p:nth-child(1) {
        grid-column: 1 / 3;
        grid-row: 1 / 2;
        font-size: 10px;

    }

    .bottom2 > p:nth-child(2) {
        grid-column: 3 / 4;
        grid-row: 1 / 2;
        font-size: 10px;
    }
    
    .bottom2 > h3 {
        grid-column: 1 / 3;
        grid-row: 2 / 3;
        font-size: 10px;
    }

    .bottom2 > p:nth-child(4) {
        grid-column: 3 / 4;
        grid-row: 2 / 3;
        font-size: 10px;
    }
    
    
    .side1 h3, .side2 h3 {
        font-size: 12px;
    }

    .side1 ol, .side2 ol {
        font-size: 12px;
    }

    .side1 > img:first-of-type, .side2 > img:first-of-type {
        grid-column: 1 / 4;
        max-height: 100%;
    }
   
    .side1 > div:nth-child(4), .side2 > div:nth-child(4) {
        grid-row: 2 / 3;
    }

    .side1 > div:nth-child(3), .side2 > div:nth-child(3) {
        grid-row: 2 / 3;
    }

    footer > h3 {
        font-size: 12px;
        text-align: center;
    }
}
