/* Typsnitt */

@font-face {
    font-family: Barlow Condensed;
    src: url(fonts/BarlowCondensed-Regular.ttf);
}

@font-face {
    font-family: Barlow Semi Condensed;
    src: url(fonts/BarlowSemiCondensed-Regular.ttf)
}

@font-face {
    font-family: Bungee Outline;
    src: url(fonts/BungeeOutline-Regular.ttf);
}

@font-face {
    font-family: Bungee Shade;
    src: url(fonts/BungeeShade-Regular.ttf);
}

/* Allt */
* {
    margin: 0;
    box-sizing: border-box;
}

/* Bakgrundsbild och Variabler */
body {
    margin: 0;
    background-image: url(images/pitbullbackground.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;

    display: grid;
    justify-content: center;
    align-items: center;

    --marginh: 5px 0;
    --marginw: 0 2px;
}
 
.background {
    height: auto;
    width: 80vw;
    background-color: rgba(0, 0, 0, 0.26);
    border-radius: 20px;

    margin: 80px 0;
}

.background p {
    color: white;
    font-size: 1vw;

    margin: 30px 0 10px 10px;
}

header div {
    font-size: 5vw;
    font-family: Bungee Shade;
    margin: 0 0 40px 20px;
    color: white;
}

/* Navigation */
nav {
    display: flex;
    gap: 5px;

    padding: 15px;

}

nav > div {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 20px;
    width: 30vw;
    background-color: rgba(255, 255, 255, 0.411);
    border-radius: 5px;
    font-size: 1.5vw;
    font-family: Barlow Semi Condensed;
}

nav > div:nth-child(2) {
    border: solid 1px white;
    font-weight: bold;
    box-shadow: 0 0 6px 0 #fff5f5;
}

nav > div:not(:nth-child(2)):hover {
    background-color: rgba(0, 0, 0, 0.213);
    color: white;
}

/* Första Rutan */
#firstbox {
 background-color: rgba(0, 0, 0, 0.446);
 height: 700px;

 margin: 70px 20px 0 20px;
 padding: 15px;

 border: solid white 1px;
 border-radius: 20px;

 display: grid;
 grid-template-columns: 3fr 2fr;
 grid-template-rows: repeat(8, 1fr);
}

#firstbox > div:nth-child(1) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;

    font-size: 2.5vw;
    font-family: Bungee Outline;
    
    color: white;
}

#firstbox > div:nth-child(2) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;

    font-size: 2vw;
    font-family: Barlow Condensed;
    font-weight: bold;
    
    color: white;
}

#firstbox > div:nth-child(3) {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    margin: 15px 0 0 0;

    font-size: 1vw;
    font-family: Barlow Semi Condensed;
    font-weight: lighter;
    
    color: white;
}

#firstbox > div:nth-child(4) {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    margin: 15px 0 0 20px;

    font-size: 1vw;
    font-family: Barlow Semi Condensed;
    font-weight: lighter;
    
    color: white;
}

#firstbox > div:nth-child(5) {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    margin: 30px 0 0 0;

    font-size: 1vw;
    font-family: Barlow Semi Condensed;
    font-weight: lighter;
    
    color: white;
}

/* Andra Rutan */
#secondbox {
    background-color: rgba(0, 0, 0, 0.446);
    height: 700px;
   
    margin: 70px 20px 0 20px;
    padding: 15px;
    --marginh: 5px 0;
    --marginw: 0 2px;
   
    border: solid white 1px;
    border-radius: 20px;
   
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: repeat(8, 1fr);
   }

#secondbox > div:nth-child(1) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;

    font-size: 2.5vw;
    font-family: Bungee Outline;
    
    color: white;
   }

#secondbox > div:nth-child(2) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;

    font-size: 2vw;
    font-family: Barlow Condensed;
    font-weight: bold;
    
    color: white;
}

#secondbox > div:nth-child(3) {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    margin: 15px 0 0 0;

    font-size: 1vw;
    font-family: Barlow Semi Condensed;
    font-weight: lighter;
    
    color: white;
}

#secondbox > div:nth-child(4) {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    margin: 15px 0 0 20px;

    font-size: 1vw;
    font-family: Barlow Semi Condensed;
    font-weight: lighter;
    
    color: white;
}

#secondbox > div:nth-child(5) {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    margin: 30px 0 0 0;

    font-size: 1vw;
    font-family: Barlow Semi Condensed;
    font-weight: lighter;
    
    color: white;
}

/*Första Bottom Grid*/
.bottom1 {
    grid-column: 1 / 3;
    grid-row: 7 / 9;

    display: grid;
    grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
    grid-template-rows: auto;
    margin: var(--marginh);
}

.bottom1 > div:nth-child(1) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;

    background-color: whitesmoke;

    font-family: Barlow Condensed;
    font-size: 1vw;
    padding: 0 10px;

    border-radius: 10px 0px 10px 10px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom1 > div:nth-child(2) {
    grid-column: 3 / 4;
    grid-row: 1 / 2;

    background-color: whitesmoke;

    font-family: Barlow Condensed;
    font-size: 1vw;
    padding: 0 10px;
    margin: var(--marginw);

    border-radius: 10px 10px 10px 0px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom1 > div:nth-child(3) {
    grid-column: 4 / 5;
    grid-row: 1 / 2;


    display: flex;
    align-items: end;

    background-image: url(images/djbuddha-producer.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    font-family: Barlow Condensed;
    font-size: 1vw;
    color: white;
    padding: 5px;
    margin: var(--marginw);

    border-radius: 0px 10px 10px 10px;
}

.bottom1 > div:nth-child(4) {
    grid-column: 5 / 6;
    grid-row: 1 / 2;

    background-color: whitesmoke;

    font-family: Barlow Condensed;
    font-size: 1vw;

    padding: 0 10px;
    margin: var(--marginw);

    border-radius: 10px 10px 0px 10px;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* Andra Bottom Grid */
.bottom2 {
    grid-column: 1 / 3;
    grid-row: 7 / 9;

    display: grid;
    grid-template-columns: 2fr 1fr 2fr 1fr;
   }


.bottom2 > div:nth-child(1) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;

    background-color: whitesmoke;

    padding: 0 10px;
    font-size: 1vw;
    margin: var(--marginw);
    border-radius: 10px 10px 10px 0px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom2 > div:nth-child(2) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;

    background-color: whitesmoke;

    padding: 0 10px;
    font-size: 1vw;
    margin: var(--marginw);
    border-radius: 0px 10px 10px 10px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom2 > div:nth-child(3) {
    grid-column: 3 / 4;
    grid-row: 1 / 2;


    display: flex;
    align-items: end;

    background-image: url(images/pitbull-globalwarming-concert.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    font-family: Barlow Semi Condensed;
    font-size: 1vw;
    color: white;
    padding: 5px;
    margin: var(--marginw);

    border-radius: 0px 10px 10px 10px;
}

.bottom2 > div:nth-child(4) {
    grid-column: 4 / 5;
    grid-row: 1 / 2;

    background-color: whitesmoke;

    padding: 0 10px;
    font-size: 1vw;
    margin: var(--marginw);
    border-radius: 10px 10px 0px 10px;

    display: flex;
    justify-content: center;
    align-items: center;
}

/*Första Side Grid */
.side1 {
    grid-column: 2 / 3;
    grid-row: 1 / 7;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3fr 1fr;
    margin: var(--marginh);
}

.side1 > img:first-of-type {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    z-index: 2;
    transition: opacity 1s;

    object-fit: cover;
    
}

.side1 > img:first-of-type:hover {
    opacity: 0;
}

.side1 > img:nth-child(2) {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    z-index: 1;

    object-fit: cover;
    
}

.side1 > div:nth-child(3) {
    grid-column: 1 / 2;
    grid-row: 2 / 3;

    background-color: rgb(43, 43, 233);
    border-radius: 0px 0px 0px 10px;
    margin-right: 5px;
    padding: 8px;
    font-size: 1vw;
}

.side1 > div:nth-child(4) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;

    background-color: rgb(43, 43, 233);
    border-radius: 0px 0px 10px 0px;
    margin-left: 5px;
    padding: 8px;
    font-size: 1vw;
}

.side1 > div > h3 {
    font-family: Barlow Condensed;
    margin: 0 0 0 10px;
}

.side1 > div > ol {
    font-family: Barlow Semi Condensed;
    margin: 0 0 0 -15px;
}

/* Andra Side Grid */
.side2 {
    grid-column: 2 / 3;
    grid-row: 1 / 7;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3fr 1fr;
    margin: var(--marginh);
}

.side2 > img:first-of-type {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    z-index: 2;
    transition: opacity 1s;

    object-fit: cover;
    
}

.side2 > img:first-of-type:hover {
    opacity: 0;
}

.side2 > img:nth-child(2) {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    z-index: 1;

    object-fit: cover;
    
}

.side2 > div:nth-child(3) {
    grid-column: 1 / 2;
    grid-row: 2 / 3;

    background-color: rgb(233, 113, 43);
    border-radius: 0px 0px 0px 10px;
    margin-right: 5px;
    padding: 8px;
    font-size: 1vw;
}

.side2 > div:nth-child(4) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;

    background-color: rgb(233, 113, 43);
    border-radius: 0px 0px 10px 0px;
    margin-left: 5px;
    padding: 8px;
    font-size: 1vw;
}

.side2 > div > h3 {
    font-family: Barlow Condensed;
    margin: 0 0 0 10px;
}

.side2 > div > ol {
    font-family: Barlow Condensed;
    margin: 0 0 0 -15px;
}
